In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("nba_games.csv", index_col=0)

In [4]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,...,22.8,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True
1,240.0,240.0,36.0,100.0,0.360,7.0,31.0,0.226,16.0,19.0,...,50.0,32.6,152.0,111.0,ATL,98,0,2016,2015-12-09,False
2,240.0,240.0,37.0,85.0,0.435,8.0,19.0,0.421,17.0,23.0,...,20.0,30.9,148.0,116.0,SAS,107,1,2018,2017-10-18,False
3,240.0,240.0,41.0,89.0,0.461,8.0,21.0,0.381,17.0,19.0,...,28.6,30.9,138.0,118.0,MIN,99,0,2018,2017-10-18,True
4,240.0,240.0,35.0,83.0,0.422,9.0,24.0,0.375,12.0,18.0,...,33.3,30.9,171.0,105.0,MIN,107,1,2017,2017-03-08,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12967,240.0,240.0,35.0,81.0,0.432,11.0,26.0,0.423,27.0,36.0,...,34.2,33.7,160.0,118.0,OKC,92,0,2019,2018-10-19,True
12968,240.0,240.0,37.0,74.0,0.500,13.0,25.0,0.520,26.0,37.0,...,25.0,30.0,139.0,129.0,ORL,108,1,2017,2016-12-14,True
12969,240.0,240.0,42.0,89.0,0.472,14.0,33.0,0.424,10.0,20.0,...,25.6,29.9,175.0,126.0,LAC,113,0,2017,2016-12-14,False
12970,240.0,240.0,41.0,85.0,0.482,9.0,26.0,0.346,26.0,30.0,...,27.7,27.1,150.0,126.0,MIA,106,1,2020,2020-09-19,True
12971,240.0,240.0,33.0,85.0,0.388,12.0,44.0,0.273,28.0,34.0,...,51.5,36.2,141.0,114.0,BOS,117,0,2020,2020-09-19,False

In [10]:
df = df.sort_values("date")

In [11]:
df = df.reset_index(drop=True)

In [12]:
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

In [13]:
def add_target(team):
    team["target"] = team["won"].shift(-1)
    return team

df = df.groupby("team", group_keys=False).apply(add_target)

In [14]:
df[df["team"] == "WAS"]

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
14,240.0,33.0,84.0,0.393,7.0,28.0,0.250,15.0,25.0,0.600,...,25.2,134.0,98.0,ORL,87,1,2016,2015-10-28,True,True
62,240.0,35.0,68.0,0.515,12.0,21.0,0.571,36.0,44.0,0.818,...,32.4,138.0,122.0,MIL,113,1,2016,2015-10-30,True,False
75,240.0,38.0,90.0,0.422,6.0,22.0,0.273,28.0,33.0,0.848,...,28.7,153.0,108.0,NYK,117,0,2016,2015-10-31,False,True
129,240.0,42.0,87.0,0.483,8.0,23.0,0.348,10.0,14.0,0.714,...,30.0,160.0,109.0,SAS,99,0,2016,2015-11-04,True,False
157,240.0,36.0,88.0,0.409,8.0,25.0,0.320,18.0,23.0,0.783,...,41.6,146.0,103.0,BOS,118,1,2016,2015-11-06,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12801,240.0,41.0,81.0,0.506,11.0,31.0,0.355,18.0,25.0,0.720,...,35.2,175.0,112.0,MEM,125,0,2021,2021-03-02,False,True
12830,240.0,40.0,88.0,0.455,9.0,23.0,0.391,30.0,42.0,0.714,...,30.6,190.0,123.0,LAC,117,0,2021,2021-03-04,True,False
12851,240.0,38.0,95.0,0.400,11.0,36.0,0.306,25.0,27.0,0.926,...,30.4,166.0,108.0,MEM,127,1,2021,2021-03-10,False,False
12875,240.0,40.0,82.0,0.488,8.0,24.0,0.333,13.0,22.0,0.591,...,34.4,166.0,109.0,PHI,127,0,2021,2021-03-12,False,False
12890,240.0,39.0,79.0,0.494,8.0,20.0,0.400,26.0,33.0,0.788,...,30.9,181.0,121.0,PHI,129,1,2021,2021-06-02,False,NaN

In [15]:
df["target"][pd.isnull(df["target"])] = 2
df["target"] = df["target"].astype(int, errors="ignore")

/var/folders/dn/_lvwvnb56mq5h1q8qdv2hcdr0000gn/T/ipykernel_47967/2793819745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"][pd.isnull(df["target"])] = 2

In [16]:
df["won"].value_counts()

False    6486
True     6486
Name: won, dtype: int64

In [17]:
df["target"].value_counts()

1    6472
0    6470
2      30
Name: target, dtype: int64

In [18]:
nulls = pd.isnull(df).sum()

In [19]:
nulls = nulls[nulls > 0]

In [20]:
valid_columns = df.columns[~df.columns.isin(nulls.index)]

In [21]:
valid_columns

Index(['mp', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=142)

In [22]:
df = df[valid_columns].copy()

In [23]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
1,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
2,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True,1
3,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True,1
4,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12967,240.0,46.0,84.0,0.548,10.0,30.0,0.333,14.0,15.0,0.933,...,31.1,123.0,123.0,PHO,102,1,2021,2021-06-28,True,0
12968,240.0,33.0,84.0,0.393,8.0,39.0,0.205,14.0,19.0,0.737,...,48.0,212.0,108.0,ATL,110,1,2021,2021-06-29,False,2
12969,240.0,43.0,85.0,0.506,13.0,38.0,0.342,11.0,13.0,0.846,...,43.5,123.0,126.0,MIL,88,0,2021,2021-06-29,True,2
12970,240.0,33.0,79.0,0.418,12.0,39.0,0.308,25.0,32.0,0.781,...,44.1,200.0,119.0,PHO,130,0,2021,2021-06-30,False,2
12971,240.0,53.0,94.0,0.564,17.0,31.0,0.548,7.0,11.0,0.636,...,39.1,145.0,145.0,LAC,103,1,2021,2021-06-30,True,2

In [24]:
# Modelling
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.model_selection import TimeSeriesSplit
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint


rf = RandomForestClassifier(n_estimators= 100)

split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rf, 
                                n_features_to_select=25, 
                                direction="forward",
                                cv=split
                               )

In [25]:
removed_columns = ["season", "date", "won", "target", "team", "team_opp"]
selected_columns = df.columns[~df.columns.isin(removed_columns)]

In [26]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[selected_columns] = scaler.fit_transform(df[selected_columns])

In [ ]:
df

In [ ]:
sfs.fit(df[selected_columns], df["target"])

In [ ]:
predictors = list(selected_columns[sfs.get_support()])

In [ ]:
predictors

In [ ]:
#splitting into training and testing data
def backtest(data, model, predictors, start=2, step=1):
    all_predictions = []
    
    seasons = sorted(data["season"].unique())
    
    for i in range(start, len(seasons), step):
        season = seasons[i]
        train = data[data["season"] < season]
        test = data[data["season"] == season]
        
        model.fit(train[predictors], train["target"])
        
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index=test.index)
        combined = pd.concat([test["target"], preds], axis=1)
        combined.columns = ["actual", "prediction"]
        
        all_predictions.append(combined)
        
    return pd.concat(all_predictions)

In [ ]:
predictions = backtest(df, rf, predictors)

In [ ]:
predictions

In [ ]:
#testing accuracy
from sklearn.metrics import accuracy_score

accuracy_score(predictions["actual"], predictions["prediction"])

In [7]:
df.groupby(["home"]).apply(lambda x: x[x["won"] == 1].shape[0] / x.shape[0])

home
0    0.419519
1    0.580481
dtype: float64

In [ ]:
df

In [31]:
#find rolling average for all columns and reorganize data frame
df_continous = df[list(selected_columns) + ["won", "team", "season"]]

def find_team_averages(team):
    rolling = team.rolling(5).mean()
    return rolling

df_continous = df_continous.groupby(["team", "season"], group_keys=False).apply(find_team_averages)

/var/folders/dn/_lvwvnb56mq5h1q8qdv2hcdr0000gn/T/ipykernel_47967/2414657691.py:5: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['team'], dtype='object')
  rolling = team.rolling(5).mean()

In [30]:
df_continous

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp,won,season
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12967,0.00,0.433333,0.344118,0.426024,0.444444,0.472727,0.393112,0.381395,0.339683,0.765694,...,0.0420,0.0598,0.246531,0.196396,0.539336,0.498795,0.350000,0.6,0.4,2021.0
12968,0.05,0.585714,0.494118,0.472289,0.422222,0.487879,0.377435,0.260465,0.273016,0.623337,...,0.0680,0.1790,0.266382,0.257915,0.611374,0.585542,0.403846,0.6,0.6,2021.0
12969,0.00,0.495238,0.373529,0.471807,0.385185,0.454545,0.357720,0.311628,0.282540,0.733489,...,0.0822,0.0628,0.289434,0.204376,0.289100,0.484337,0.413462,0.6,0.6,2021.0
12970,0.00,0.400000,0.317647,0.408193,0.385185,0.448485,0.365083,0.432558,0.387302,0.755659,...,0.0410,0.0588,0.246531,0.214157,0.568720,0.474699,0.369231,0.4,0.4,2021.0
12971,0.00,0.490476,0.400000,0.443373,0.340741,0.348485,0.389074,0.302326,0.247619,0.802800,...,0.0656,0.0474,0.338954,0.495753,0.401896,0.501205,0.361538,0.6,0.6,2021.0

In [ ]:
continous_cols = [f"{col}_5" for col in df_continous.columns]
df_continous.columns = continous_cols
df = pd.concat([df, df_continous], axis=1)

In [ ]:
df = df.dropna()

In [ ]:
df

In [ ]:
def shift_col(team, col_name):
    next_col = team[col_name].shift(-1)
    return next_col

def add_col(df, col_name):
    return df.groupby("team", group_keys=False).apply(lambda x: shift_col(x, col_name))

df["home_next"] = add_col(df, "home")
df["team_opp_next"] = add_col(df, "team_opp")
df["date_next"] = add_col(df, "date")

In [ ]:
df

In [ ]:
full = df.merge(df[continous_cols + ["team_opp_next", "date_next", "team"]], left_on=["team", "date_next"], right_on=["team_opp_next", "date_next"])

In [ ]:
full

In [ ]:
full[["team_x", "team_opp_next_x", "team_y", "team_opp_next_y", "date_next"]]

In [ ]:
removed_columns = list(full.columns[full.dtypes == "object"]) + removed_columns

In [ ]:
removed_columns

In [ ]:
selected_columns = full.columns[~full.columns.isin(removed_columns)]
sfs.fit(full[selected_columns], full["target"])

In [ ]:
predictors = list(selected_columns[sfs.get_support()])

In [ ]:
predictors

In [ ]:
predictions = backtest(full, rf, predictors)

In [ ]:
accuracy_score(predictions["actual"], predictions["prediction"])